# CORE
streamlit==1.31.0
numpy==1.26.4
pandas==2.2.3
scipy==1.14.1

# DEEP LEARNING
tensorflow==2.18.0

# VISUALIZATION
plotly==5.24.1
matplotlib==3.9.3
seaborn==0.13.2

# UTILITIES
Pillow==11.0.0

# ML
scikit-learn==1.5.2